/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Tailwind & PrimeReact */
@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Variables */
:root {
  --font-family: 'Inter', sans-serif;
  --background: #171717;
  --foreground: #ffffff;
}

/* Apply Font */
body, .p-component {
  font-family: var(--font-family) !important;
  font-weight: 400; /* Default weight */
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: inherit; /* Match background */
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Layout Adjustments */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}
